@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --defaultColors-odd: ;
  --defaultColors-even: ;
  --activeColors-odd: ;
  --activeColors-even: ;
}

body {
  @apply text-center h-screen w-screen;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  @apply text-center min-h-full min-w-full overflow-auto;
}

.mainContainer {
  @apply flex container mx-auto h-full w-full p-5;

  & > * {
    @apply w-full;
  }

  .table {
    @apply flex flex-col flex-1 h-full border-y border-[#49494996] overflow-hidden text-sm min-w-[768px];

    .col {
      @apply col-span-3 text-start truncate p-3;

      &:first-child {
        @apply text-start col-span-1;
      }

      &:nth-child(2) {
        @apply col-span-1;
      }

      &:last-child {
        @apply col-span-1;
      }
    }

    &Container {
      @apply m-auto rounded-lg shadow-lg bg-[var(--defaultColors-odd)] border border-slate-100 overflow-auto;
    }


    &Wrap {
      @apply overflow-auto;
    }

    &Headline {
      @apply flex flex-row justify-between py-3 px-4;
    }

    &Header {
      @apply px-2 bg-[#b7bcb5] border-b border-[#49494996] grid grid-cols-12 grid-flow-col;

      .col {}
    }

    &Body {
      @apply overflow-auto;

      &Row {
        @apply grid grid-cols-12 grid-flow-col border-b border-b-[#e7eae796] bg-[var(--defaultColors-even)] overflow-hidden cursor-pointer px-2;

        &:nth-child(odd) {
          @apply bg-[var(--defaultColors-odd)];
        }

        &.active {
          @apply bg-[var(--activeColors-even)];

          &:nth-child(odd) {
            @apply bg-[var(--activeColors-odd)];
          }
        }

        .col {
          &:last-child {
            @apply border-none;
          }
        }
      }
    }

    &Footer {
      @apply h-[52px] flex items-center justify-center gap-4;
    }
  }
}

button {
  @apply flex items-center justify-center text-slate-600 rounded;

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

input,
select {
  @apply border rounded outline-none px-3 py-2;
}

button {
  @apply border rounded outline-none px-3 py-2 transition shadow-sm;

  &:active {
    @apply scale-95 shadow-none;
  }
}