@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --defaultColors-odd: ;
  --defaultColors-even: ;
  --activeColors-odd: ;
  --activeColors-even: ;
}

body {
  @apply text-center text-sm m-0;
  font-family: Arial, Helvetica, sans-serif
}

main {
  @apply text-center h-screen w-screen overflow-auto;
}

.mainContainer {
  @apply flex container mx-auto h-full w-full sm:px-5;

  &>* {
    @apply w-full;
  }

  .table {
    @apply flex flex-col flex-1 h-full border-y border-[#49494996] overflow-hidden;
    min-width: 768px;

    .col {
      @apply col-span-3 text-start truncate p-3;

      &:first-child {
        @apply text-start col-span-1;
      }

      &:nth-child(2) {
        @apply col-span-1;
      }

      &:last-child {
        @apply col-span-1;
      }
    }

    &Container {
      @apply flex flex-col flex-auto sm:max-h-[95vh] sm:m-auto rounded-lg shadow-lg bg-[var(--defaultColors-odd)] border border-slate-100 overflow-auto;
    }


    &Wrap {
      @apply h-full sm:h-fit flex overflow-auto;
    }

    &Headline {
      @apply flex flex-wrap justify-between gap-3 py-3 px-4;

      .left {
        @apply flex flex-wrap gap-3;  
      }

      .right {
        @apply flex items-end;  

        button {
          @apply whitespace-nowrap;
        }
      }
    }

    &Header {
      @apply px-2 bg-[#b7bcb5] border-b border-[#49494996] grid grid-cols-12 grid-flow-col;

      .col {}
    }

    &Body {
      @apply overflow-auto;

      &Row {
        @apply grid grid-cols-12 grid-flow-col border-b border-b-[#e7eae796] overflow-hidden cursor-pointer px-2;
        background: var(--defaultColors-even);

        &:nth-child(odd) {
          background: var(--defaultColors-odd);
        }

        &.active {
          background: var(--activeColors-even);

          &:nth-child(odd) {
            background: var(--activeColors-odd);
          }
        }

        .col {
          &:last-child {
            @apply border-none;
          }
        }
      }
    }

    &Footer {
      @apply h-[52px] flex items-center justify-center gap-4;
    }
  }
}

button {
  @apply flex items-center justify-center text-slate-600 rounded;

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

input,
select {
  @apply border rounded outline-0 px-3 py-2 text-sm leading-[20px] min-w-[115px];
}

button {
  @apply border rounded outline-none px-3 py-2 transition shadow-sm;

  &:active {
    @apply scale-95 shadow-none;
  }
}

.fromGroup {
  @apply flex row-auto items-center justify-start;

  * {
    color: rgb(17 24 39);
  }

  label {
    @apply pr-2 whitespace-nowrap;
  }
}